.div1{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img{
    height: 50px;
    height: 30px;
}

ul{
    display: flex;
    list-style: none;
}
.div2{
    display: flex;

}
.left{
    background-color: violet;
    width: 400px;
    padding-left: 50px;
}
h1{
    font-size: 60px;
}